/* Estilos generales */
body {
  background-color: gray;
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
}


/* Estilos para el formulario */
form {
  background-color: #f9f9f9;
  /* Color de fondo */
  padding: 40px;
  /* Espaciado interno */
  border-radius: 10px;
  /* Bordes redondeados */
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  /* Sombra */
}

/* Estilos para los campos de entrada */
form input[type="text"],
form textarea {
  width: 100%;
  /* Ancho completo */
  padding: 10px;
  /* Espaciado interno */
  margin-bottom: 10px;
  /* Espaciado inferior */
  border: 1px solid #ccc;
  /* Borde */
  border-radius: 5px;
  /* Bordes redondeados */
}

header {
  display: flex;
  align-items: center;
  background-color: #343a40;
  color: #fff;
}

nav {
  padding: 10px;
  display: flex;
  align-items: center;
  position: relative;
}

nav a{
  cursor: default;
}

nav ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

nav ul li {
  display: inline-block;
  margin-right: 0px;
  padding: 20px;
}

nav ul li:hover {
  transform: translateY(-3px);
  /* Mover el elemento hacia arriba cuando el cursor esté sobre él */
  box-shadow: 0 0 8px rgba(0, 0, 0, 0.1);
  /* Añadir una sombra para resaltar el elemento */
  background-color: gray;
}

nav ul li a {
  color: #fff;
  text-decoration: none;
  transition: transform 0.3s, box-shadow 0.3s;
  /* Agregar una transición para un efecto suave */
}

/* Estilos para las secciones */
section {
  padding: 20px;
  margin-top: 20px;
}

/* Estilos para los títulos de sección */

h2 {
  font-weight: bold;
  font-family: 'Roboto', sans-serif;
  font-size: 5em;
  margin-bottom: 20px;
  animation: fadeInUp 1s ease-out;
}

p {
  font-family: 'Open Sans', sans-serif;
  font-size: 1.2em;
  line-height: 1.6;
  animation: fadeInUp 1s ease-out;
}

h1 {
  color: white;
  text-align: center;
}

/* Estilos para la sección Acerca de Mí */
#about {
  padding: 50px 0; /* Espaciado interno */
}

/* Estilos para el formulario de contacto (si lo hay) */
#contact-form {
  background-color: silver;
  color: white;
  text-align: left;
  font-size: 24px;
  max-width: 600px;
  margin: 0 auto;
}

#contact-form label {
  display: block;
  margin-bottom: 5px;
}

#contact-form input,
#contact-form textarea {
  width: 100%;
  padding: 8px;
  margin-bottom: 10px;
}

#contact-form button {
  background-color: #007bff;
  color: #fff;
  border: none;
  border-radius: 5px;
  padding: 10px 20px;
  cursor: pointer;
}

#contact-form button:hover {
  background-color: #0056b3;
}

#projects {
  padding: 50px 0; /* Espaciado interno */
}

.about-section {
  background-color: #343a40;
  color: #c9d1d9;
  padding: 80px 0;
}

.header-content {
  flex: 1;
  /* Hace que ocupe el espacio restante */
}

.profile-image {
  position: absolute;
  top: -15px; /* Ajusta esta cantidad según sea necesario */
  right: 20px; /* Ajusta la posición horizontal */
  width: 110px; /* Ancho de la imagen */
  height: 110px; /* Altura de la imagen */
  border-radius: 50%; /* Hace que la imagen sea circular */
  z-index: 1; /* Asegura que la imagen esté por encima del contenido */
}


.profile-image:hover {
  transform: scale(1.2);
  /* Escala la imagen al 120% cuando pasas el cursor sobre ella */
}

.back-to-top {
  display: none;
  position: fixed;
  bottom: 30px;
  right: 30px;
  background-color: #007bff;
  color: #fff;
  width: 50px;
  height: 50px;
  border-radius: 50%;
  text-align: center;
  line-height: 50px;
  font-size: 20px;
  text-decoration: none;
  transition: background-color 0.3s;
}

.back-to-top:hover {
  background-color: #0056b3;
  /* Cambia el color al pasar el ratón */
}

.back-to-top:before {
  font: bold;
  content: '↑';
  /* Flecha hacia arriba */
  position: relative;
  top: -3px;
  /* Ajusta la posición vertical de la flecha */
}

.container {
  background-color: slategray;
  padding: 30px;
  max-width: 700px;
  margin: 0 auto;
  text-align: center;
}

.project-card {
  background-color: #343a40; /* Color de fondo oscuro */
  color: #fff; /* Color de texto blanco para mayor contraste */
  font-family: 'Arial', sans-serif; /* Tipo de letra */
  padding: 20px; /* Ajusta el espaciado interior según sea necesario */
  border-radius: 10px; /* Radio de borde */
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); /* Sombra */
}

.project-card img {
  max-width: 450px;
  height: 250px;
  margin-bottom: 10px;
}

.project-card .button {
  display: inline-block;
  padding: 8px 16px;
  background-color: #007bff;
  color: #fff;
  text-decoration: none;
  border-radius: 5px;
  align-self: flex-end
}

.project-card .button:hover {
  background-color: #0056b3;
}

.social-links {
  justify-content: center;
  list-style: none; /* Elimina los marcadores de lista */
  padding: 0; /* Elimina el espacio interno */
  display: flex; /* Utiliza flexbox para alinear los enlaces */
}

.social-links li {
  margin-right: 20px; /* Espacio entre los enlaces */
}

.social-links img {
  width: 50px; /* Ancho de la imagen */
  height: auto; 
  border-radius: 50%;/* Altura automática para mantener la proporción */
}

.social-links a {
  text-decoration: none; /* Elimina el subrayado del enlace */
}

.social-links a:hover img {
  opacity: 0.8; /* Reducir la opacidad al pasar el cursor */
  transform: translateY(-5px);
  /* Mover la tarjeta hacia arriba cuando el cursor esté sobre ella */
  box-shadow: 0 8px 12px rgba(0, 0, 0, 0.1);
  /* Añadir una sombra para resaltar la tarjeta */
}

@keyframes fadeInUp {
  from {
    opacity: 0;
    transform: translateY(20px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}